*{
    margin: 0;
    padding: 0;
}


#cal{
    display: flex;
    background-color:#1a1b28;
    flex-direction: column;
    height: 480px;
    width: 340px;
    margin-top: 80px;
    border-radius: 12px;
    

}
body{
    display: flex;
    justify-content: center;
    align-items: center;

}
button{
    background-color: #52c9dc;
    color: #fefefe;
    height: 65px;
    width:  65px;
    border-radius: 5px;
    border: none;
    font-size: larger;
    
    
}
#buttons {
    display: grid;
    grid-template-columns: repeat(4, 65px); /* Adjusts for 4 buttons per row */
    gap: 10px; /* Adds spacing between buttons */
    padding: 22px;
    width: 300px; /* Adjusted to fit within #cal */
    align-self:flex-end
}
#display{
    background-color: rgb(50, 65, 65);
    margin: 20px;
   
    min-width: 300px;
    min-height: 100px;
    max-height: 100px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: end;
    font-size: 60px;
    
}
#text{
    align-self: flex-end;
    margin: 10px;
    
    
}